
<link rel="stylesheet" type="text/css" href="~/Styles/Home/home.css" />

<div class="homenews">
    <p>最新消息</p>

</div>

<div class="newproduct">
    <p>最新產品<p>

</div>
<div style="margin-left:10vw">推薦網站</div>
<div class="homeotherinfo">
    <div class="homeotherinfosub">
    </div>
    <div class="homeotherinfosub">

    </div>
    <div class="homeotherinfosub">

    </div>
    <div class="homeotherinfosub">

    </div>
</div>
